* {
  box-sizing: border-box;
}

body {
  font-family: San Francisco, Arial, sans-serif;
}

nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 12px;
  margin-bottom: 32px;
}

a {
  color: #282828;
  text-decoration: none;
}

a:hover, .nav-item--active {
  color: #2433ff;
}

section {
  margin-bottom: 12px;
}

button {
  padding: 6px 12px;
  font-size: 16px;
  background: #f3f3f3;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background: #e9ecff;
  border-color: #858585;
}

input[type="number"] {
  margin-left: 10px;
  width: 40px;
}

textarea {
  width: 100%;
}
